<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>My list of tasks</h1>
    <ul class="">
      <% @tasks.each do |task| %>
        <li>
          <%= task.name %>
          <% if task.done %>
              <i class="fa fa-check"></i>
            <% else %>
              <i class="fa fa-times"></i>
          <% end %>
          <!-- Now we'll add a link to allow editing (if we see the routes we can
          see that edit_task will need the od of the task (the url is tasks/:id/edit)
          )so we pass task (that is the instance) to the oathand rails will get the id from it  -->
          <%= link_to "Edit Task", edit_task_path(task), class: "" %>
          <!-- now we'lll create a link to show the task (it could be interest if the task  -->
          <!-- had a desription for exemple) -->
          <%= link_to "- Show Task", task_path(task), class: "" %>
          <p><%= link_to "Delete", task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= link_to "Add new task", new_task_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
