<!-- with the @task, rails will redirect to create or to update automatically
il will check if it's a new task or an existing one and will send to the correspondent view
(even if as we'll see we don't need to go to create.html.erb, instead we'll redirect
to index) -->
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@task) do |f| %>
        <%= f.label :name, "name of the new task" %>
        <%= f.text_field :name %>
        <%= f.hidden_field :done, value: false %>
        <%= f.submit class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
